<head>
    <meta charset="{{site.charset}}" />
    <title>{{wp_title}}{{ site.title }}</title>
    <meta name="description" content="{{site.description}}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ theme.link }}/favicon.ico" />
    <link rel="stylesheet" href="{{ theme.link }}/style.css" type="text/css" media="screen" />
    {{function('wp_head')}}

    {% block head %}{% endblock %}
</head>
