<section class="panel clearfix">
    <div class="box col-1-1 row-2-3">
        <h1>Web à Québec</h1>
    </div>
    <div class="box col-1-3 row-1-3">
         <h2>{{last_blog_post.post_title}}</h2>
         <p>Par {{last_blog_post.author.name}}</p>
         <p>{{last_blog_post.post_content|excerpt(30)}}</p>
         <a href="{{last_blog_post.link}}">Lire l'article</a>
    </div>
    <div class="box col-1-3 row-1-3">
         <iframe style="width: 100%; height: 100%;" src="{{post.get_field('video')}}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="box col-1-3 row-1-3">
        Twitter
    </div>
</section>
